
/* line 1 */
#note-1 {
  left: 15%;
  bottom: 25%;
}
#line-1 {
  left: 16.8%;
  bottom: 40%;
}
#note-2 {
  left: 20%;
  top: 25%;
}
#line-2 {
  left: 20%;
  top: 40%;
}
#dot-2 {
  left: 22.5%;
  top: 35%;
}
#note-3 {
  left: 25%;
  top: 25%;
}
#bar-1 {
  left: 29%;
}
#note-4 {
  bottom: 0%;
  left: 31%;
}
#line-4 {
  left: 32.9%;
  bottom: 11%;
}
#dot-4 {
  left: 33.5%;
  bottom: 6%;
}
#note-5 {
  bottom: 13%;
  left: 36%
}
#line-5 {
  bottom: 22%;
  left: 37.8%
}
#bar-2 {
  left: 40%;
}
#note-6 {
  
}
